/**
  DÙNG CHUNG CÁC PAGE
*/

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(../font/OpenSans-vi.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(../font/OpenSans-latin.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

// /* vietnamese */
// @font-face {
//   font-family: 'Itim';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(../font/Itim-vi.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
// /* latin */
// @font-face {
//   font-family: 'Itim';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src:  url(../font/Itim-latin.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
/*Override bootstrap*/
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '/' !important;
}

.carousel-inner > .carousel-item {
   height: 500px;
}

div.carousel-caption {
  background-color: rgba(0,0,0, 0.3);
}
/*.form-control:focus {
  border-color: #CCCCCC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204,204,204, 0.6);
}*/
/*****************************/

.single {
padding: 30px 15px;
background: #fcfcfc;
border: 1px solid #f0f0f0; }
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: #333;
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: #bb6b24;
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 16px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #bb6b24; }
.single li:last-child a {
border-bottom: 0; }

h3.half-underline {
margin: 0;
margin-bottom: 10px;
padding: 0;
padding-left: 15px;
color: #333;
text-transform: uppercase; }
h3.half-underline:after {
content: '';
width: 60px;
height: 1px;
background: #bb6b24;
display: block;
margin-top: 6px; }

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
.hr-b-1 {
  border-bottom: 1px solid #c9cbcf;
  padding-bottom: 2px;
  margin-bottom: 4px;
  line-height: normal; }

.hr-b-2 {
  border-bottom: 2px solid #c9cbcf;
  padding-bottom: 3px;
  margin-bottom: 8px;
  line-height: normal; }

.hr-b-3 {
  border-bottom: 3px solid #c9cbcf;
  padding-bottom: 4px;
  margin-bottom: 12px;
  line-height: normal; }

.hr-b-4 {
  border-bottom: 4px solid #c9cbcf;
  padding-bottom: 5px;
  margin-bottom: 16px;
  line-height: normal; }

.hr-b-5 {
  border-bottom: 5px solid #c9cbcf;
  padding-bottom: 6px;
  margin-bottom: 20px;
  line-height: normal; }

.hr-b-6 {
  border-bottom: 6px solid #c9cbcf;
  padding-bottom: 7px;
  margin-bottom: 24px;
  line-height: normal; }

.hr-b-7 {
  border-bottom: 7px solid #c9cbcf;
  padding-bottom: 8px;
  margin-bottom: 28px;
  line-height: normal; }

.hr-b-8 {
  border-bottom: 8px solid #c9cbcf;
  padding-bottom: 9px;
  margin-bottom: 32px;
  line-height: normal; }

.hr-b-9 {
  border-bottom: 9px solid #c9cbcf;
  padding-bottom: 10px;
  margin-bottom: 36px;
  line-height: normal; }

.hr-b-10 {
  border-bottom: 10px solid #c9cbcf;
  padding-bottom: 11px;
  margin-bottom: 40px;
  line-height: normal; }

.hr-r-1 {
  border-right: 1px solid #c9cbcf;
  padding-right: 2px;
  margin-right: 4px;
  line-height: normal; }

.hr-r-2 {
  border-right: 2px solid #c9cbcf;
  padding-right: 3px;
  margin-right: 8px;
  line-height: normal; }

.hr-r-3 {
  border-right: 3px solid #c9cbcf;
  padding-right: 4px;
  margin-right: 12px;
  line-height: normal; }

.hr-r-4 {
  border-right: 4px solid #c9cbcf;
  padding-right: 5px;
  margin-right: 16px;
  line-height: normal; }

.hr-r-5 {
  border-right: 5px solid #c9cbcf;
  padding-right: 6px;
  margin-right: 20px;
  line-height: normal; }

.hr-r-6 {
  border-right: 6px solid #c9cbcf;
  padding-right: 7px;
  margin-right: 24px;
  line-height: normal; }

.hr-r-7 {
  border-right: 7px solid #c9cbcf;
  padding-right: 8px;
  margin-right: 28px;
  line-height: normal; }

.hr-r-8 {
  border-right: 8px solid #c9cbcf;
  padding-right: 9px;
  margin-right: 32px;
  line-height: normal; }

.hr-r-9 {
  border-right: 9px solid #c9cbcf;
  padding-right: 10px;
  margin-right: 36px;
  line-height: normal; }

.hr-r-10 {
  border-right: 10px solid #c9cbcf;
  padding-right: 11px;
  margin-right: 40px;
  line-height: normal; }

.badge-color-red-0 {
  background-color: rgba(255, 99, 132, 0); }

.badge-color-orange-0 {
  background-color: rgba(255, 159, 64, 0); }

.badge-color-yellow-0 {
  background-color: rgba(255, 205, 86, 0); }

.badge-color-green-0 {
  background-color: rgba(75, 192, 192, 0); }

.badge-color-blue-0 {
  background-color: rgba(54, 162, 235, 0); }

.badge-color-purple-0 {
  background-color: rgba(153, 102, 255, 0); }

.badge-color-grey-0 {
  background-color: rgba(201, 203, 207, 0); }

.badge-color-red-1 {
  background-color: rgba(255, 99, 132, 0.1); }

.badge-color-orange-1 {
  background-color: rgba(255, 159, 64, 0.1); }

.badge-color-yellow-1 {
  background-color: rgba(255, 205, 86, 0.1); }

.badge-color-green-1 {
  background-color: rgba(75, 192, 192, 0.1); }

.badge-color-blue-1 {
  background-color: rgba(54, 162, 235, 0.1); }

.badge-color-purple-1 {
  background-color: rgba(153, 102, 255, 0.1); }

.badge-color-grey-1 {
  background-color: rgba(201, 203, 207, 0.1); }

.badge-color-red-2 {
  background-color: rgba(255, 99, 132, 0.2); }

.badge-color-orange-2 {
  background-color: rgba(255, 159, 64, 0.2); }

.badge-color-yellow-2 {
  background-color: rgba(255, 205, 86, 0.2); }

.badge-color-green-2 {
  background-color: rgba(75, 192, 192, 0.2); }

.badge-color-blue-2 {
  background-color: rgba(54, 162, 235, 0.2); }

.badge-color-purple-2 {
  background-color: rgba(153, 102, 255, 0.2); }

.badge-color-grey-2 {
  background-color: rgba(201, 203, 207, 0.2); }

.badge-color-red-3 {
  background-color: rgba(255, 99, 132, 0.3); }

.badge-color-orange-3 {
  background-color: rgba(255, 159, 64, 0.3); }

.badge-color-yellow-3 {
  background-color: rgba(255, 205, 86, 0.3); }

.badge-color-green-3 {
  background-color: rgba(75, 192, 192, 0.3); }

.badge-color-blue-3 {
  background-color: rgba(54, 162, 235, 0.3); }

.badge-color-purple-3 {
  background-color: rgba(153, 102, 255, 0.3); }

.badge-color-grey-3 {
  background-color: rgba(201, 203, 207, 0.3); }

.badge-color-red-4 {
  background-color: rgba(255, 99, 132, 0.4); }

.badge-color-orange-4 {
  background-color: rgba(255, 159, 64, 0.4); }

.badge-color-yellow-4 {
  background-color: rgba(255, 205, 86, 0.4); }

.badge-color-green-4 {
  background-color: rgba(75, 192, 192, 0.4); }

.badge-color-blue-4 {
  background-color: rgba(54, 162, 235, 0.4); }

.badge-color-purple-4 {
  background-color: rgba(153, 102, 255, 0.4); }

.badge-color-grey-4 {
  background-color: rgba(201, 203, 207, 0.4); }

.badge-color-red-5 {
  background-color: rgba(255, 99, 132, 0.5); }

.badge-color-orange-5 {
  background-color: rgba(255, 159, 64, 0.5); }

.badge-color-yellow-5 {
  background-color: rgba(255, 205, 86, 0.5); }

.badge-color-green-5 {
  background-color: rgba(75, 192, 192, 0.5); }

.badge-color-blue-5 {
  background-color: rgba(54, 162, 235, 0.5); }

.badge-color-purple-5 {
  background-color: rgba(153, 102, 255, 0.5); }

.badge-color-grey-5 {
  background-color: rgba(201, 203, 207, 0.5); }

.badge-color-red-6 {
  background-color: rgba(255, 99, 132, 0.6); }

.badge-color-orange-6 {
  background-color: rgba(255, 159, 64, 0.6); }

.badge-color-yellow-6 {
  background-color: rgba(255, 205, 86, 0.6); }

.badge-color-green-6 {
  background-color: rgba(75, 192, 192, 0.6); }

.badge-color-blue-6 {
  background-color: rgba(54, 162, 235, 0.6); }

.badge-color-purple-6 {
  background-color: rgba(153, 102, 255, 0.6); }

.badge-color-grey-6 {
  background-color: rgba(201, 203, 207, 0.6); }

.badge-color-red-7 {
  background-color: rgba(255, 99, 132, 0.7); }

.badge-color-orange-7 {
  background-color: rgba(255, 159, 64, 0.7); }

.badge-color-yellow-7 {
  background-color: rgba(255, 205, 86, 0.7); }

.badge-color-green-7 {
  background-color: rgba(75, 192, 192, 0.7); }

.badge-color-blue-7 {
  background-color: rgba(54, 162, 235, 0.7); }

.badge-color-purple-7 {
  background-color: rgba(153, 102, 255, 0.7); }

.badge-color-grey-7 {
  background-color: rgba(201, 203, 207, 0.7); }

.badge-color-red-8 {
  background-color: rgba(255, 99, 132, 0.8); }

.badge-color-orange-8 {
  background-color: rgba(255, 159, 64, 0.8); }

.badge-color-yellow-8 {
  background-color: rgba(255, 205, 86, 0.8); }

.badge-color-green-8 {
  background-color: rgba(75, 192, 192, 0.8); }

.badge-color-blue-8 {
  background-color: rgba(54, 162, 235, 0.8); }

.badge-color-purple-8 {
  background-color: rgba(153, 102, 255, 0.8); }

.badge-color-grey-8 {
  background-color: rgba(201, 203, 207, 0.8); }

.badge-color-red-9 {
  background-color: rgba(255, 99, 132, 0.9); }

.badge-color-orange-9 {
  background-color: rgba(255, 159, 64, 0.9); }

.badge-color-yellow-9 {
  background-color: rgba(255, 205, 86, 0.9); }

.badge-color-green-9 {
  background-color: rgba(75, 192, 192, 0.9); }

.badge-color-blue-9 {
  background-color: rgba(54, 162, 235, 0.9); }

.badge-color-purple-9 {
  background-color: rgba(153, 102, 255, 0.9); }

.badge-color-grey-9 {
  background-color: rgba(201, 203, 207, 0.9); }

.badge-color-red-10 {
  background-color: #ff6384; }

.badge-color-orange-10 {
  background-color: #ff9f40; }

.badge-color-yellow-10 {
  background-color: #ffcd56; }

.badge-color-green-10 {
  background-color: #4bc0c0; }

.badge-color-blue-10 {
  background-color: #36a2eb; }

.badge-color-purple-10 {
  background-color: #9966ff; }

.badge-color-grey-10 {
  background-color: #c9cbcf; }

.fsize-8 {
  font-size: 8px; }

.fsize-12 {
  font-size: 12px; }

.fsize-16 {
  font-size: 16px; }

.fsize-20 {
  font-size: 20px; }

.fsize-24 {
  font-size: 24px; }

.fsize-32 {
  font-size: 32px; }

  .fsize-36 {
  font-size: 32px; }

.fsize-40 {
  font-size: 40px; }

.fsize-44 {
  font-size: 44px; }


.fsize-48 {
  font-size: 48px; }

.fsize-56 {
  font-size: 56px; }

.fsize-64 {
  font-size: 64px; }

.fsize-72 {
  font-size: 72px; }

.fsize-80 {
  font-size: 80px; }

.fsize-88 {
  font-size: 88px; }

.fsize-96 {
  font-size: 96px; }

.fsize-104 {
  font-size: 104px; }

.fsize-112 {
  font-size: 112px; }

.fsize-120 {
  font-size: 120px; }

.fsize-128 {
  font-size: 128px; }

.subnav-content {
  display: none;

  position: absolute;
  left: 5%;
  width: 30%;
  z-index: 9999;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border: 3px solid #eaeaea;
  transition: width 3s; }

.subnav:hover .subnav-content {
  display: block;}


.bg-brown {
  background-color: #bb6b24 !important;
}

.text-brown {
  color: #bb6b24 !important;
}
html,body{
  font-family: 'Itim';
  font-size: 20px;
  background-color: #f1f1f1;
}

body {
  padding-top: 70px;
}

.opensans {
  font-family: 'Open Sans';
}

nav.navbar .hvr-underline-from-left:before {
  background-color: #bb6b24
}

.btn{
    border-radius: 0 !important;
}

.subimg {
  display: inline-block;
}

.subimg:hover .subimg-content {
  height: 120px;
}
.subimg-content {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  background-size: 200px 120px;
  width: 200px;
  background-position: center;
  height: 0;
}

div.product-card:hover, a.product-card:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  z-index: 1;
}

i.fa-shopping-cart {
  position: relative;
}
span.num {
  text-align: center;
  width: 16px;
  height: 16px;
  padding: .15rem;
  border-radius: 50%;
  position: absolute;
  font-size: 0.6em;
  top: -10px;
  color: #fff;
  right: -6px;
  font-family: 'deptrai';
}

.card-shadow .card{
  -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
  border:0;
}

.card-border-0 .card {
  border: 0;
}

.spinner-width .input-group{
  width: 150px !important;
}

.btn-outline-brown {
color: #bb6b24;
border-color: #bb6b24; }
.btn-outline-brown:hover {
color: #fff;
background-color: #bb6b24;
border-color: #bb6b24; }
.btn-outline-brown:focus, .btn-outline-brown.focus {
box-shadow: 0 0 0 0.2rem rgba(187, 107, 36, 0.5); }
.btn-outline-brown.disabled, .btn-outline-brown:disabled {
color: #bb6b24;
background-color: transparent; }
.btn-outline-brown:not(:disabled):not(.disabled):active, .btn-outline-brown:not(:disabled):not(.disabled).active,
.show > .btn-outline-brown.dropdown-toggle {
color: #fff;
background-color: #bb6b24;
border-color: #bb6b24; }
.btn-outline-brown:not(:disabled):not(.disabled):active:focus, .btn-outline-brown:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-brown.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(187, 107, 36, 0.5); }

.btn-brown {
color: #fff;
background-color: #bb6b24;
border-color: #bb6b24; }
.btn-brown:hover {
color: #fff;
background-color: #a86020;
border-color: #95551c; }
.btn-brown:focus, .btn-brown.focus {
color: #fff;
background-color: #a86020;
border-color: #95551c;
box-shadow: 0 0 0 0.2rem rgba(193, 121, 57, 0.5); }
.btn-brown.disabled, .btn-brown:disabled {
color: #fff;
background-color: #bb6b24;
border-color: #bb6b24; }
.btn-brown:not(:disabled):not(.disabled):active, .btn-brown:not(:disabled):not(.disabled).active,
.show > .btn-brown.dropdown-toggle {
color: #fff;
background-color: #a86020;
border-color: #95551c; }
.btn-brown:not(:disabled):not(.disabled):active:focus, .btn-brown:not(:disabled):not(.disabled).active:focus,
.show > .btn-brown.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(193, 121, 57, 0.5)  ; }


.blurall {
    -webkit-filter: blur(4px);
    width:100%; height: 100%; border: 0;
}

.sm-square {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.md-square {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

.lg-square {
  width: 60px;
  height: 60px;
}


.zoom {
  transition: transform .2s; /* Animation */

}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

 .search-container {
   position: absolute;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 300px;
   height: 100px;
}
 .search-container .search {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 80px;
   height: 80px;
   background: chocolate;
   border-radius: 50%;
   transition: all 1s;
   z-index: 4;
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
 .search-container .search:hover {
   cursor: pointer;
}
 .search-container .search::before {
   content: "";
   position: absolute;
   margin: auto;
   top: 22px;
   right: 0;
   bottom: 0;
   left: 22px;
   width: 12px;
   height: 2px;
   background: white;
   transform: rotate(45deg);
   transition: all 0.5s;
}
 .search-container .search::after {
   content: "";
   position: absolute;
   margin: auto;
   top: -5px;
   right: 0;
   bottom: 0;
   left: -5px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: 2px solid white;
   transition: all 0.5s;
}
 .search-container input {
   font-family: 'Inconsolata', monospace;
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 50px;
   height: 50px;
   outline: none;
   border: none;
   background: chocolate;
   color: white;
   text-shadow: 0 0 10px chocolate;
   padding: 0 80px 0 20px;
   border-radius: 30px;
   box-shadow: 0 0 25px 0 chocolate, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
   transition: all 1s;
   opacity: 0;
   z-index: 5;
   font-weight: bolder;
   letter-spacing: 0.1em;
}
 .search-container input:hover {
   cursor: pointer;
}
 .search-container input:focus {
   width: 300px;
   opacity: 1;
   cursor: text;
}
 .search-container input:focus ~ .search {
   right: -250px;
   background: darkorange;
   z-index: 6;
}
 .search-container input:focus ~ .search::before {
   top: 0;
   left: 0;
   width: 25px;
}
 .search-container input:focus ~ .search::after {
   top: 0;
   left: 0;
   width: 25px;
   height: 2px;
   border: none;
   background: white;
   border-radius: 0%;
   transform: rotate(-45deg);
}
 .search-container input::placeholder {
   color: white;
   opacity: 0.5;
   font-weight: bolder;
}
 
.search-bar {
  position: absolute;
  
  top: 600px;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
  width: 400px;
}

#ad-search {
   position: absolute;
   margin: auto;
   top: 30px;
   left: 650px;
   right: 0;
   bottom: 0;
   width: 300px;
   display: none;
   font-size: 16px;
}

.comefromtop {
    animation: comefromtop 0.5s;
}
.pushdown {
    animation: pushdown 0.5s;
}

@-webkit-keyframes comefromtop {
  0%   { opacity:0; -webkit-transform: translateY(-100%); }
  100% { opacity:1; -webkit-transform: translateY(0px);   }
}

@-webkit-keyframes pushdown {
  0%   { /*opacity:0;*/ -webkit-transform: translateY(-10%); }
  100% { /*opacity:1;*/ -webkit-transform: translateY(0);   }
}
.back-to-top {
    position: fixed;
    top: auto;
    left: auto;
    right: 15px;
    bottom: 15px;
    font-size: 32px;
    opacity: 0.8;
    z-index: 9999;
    cursor: pointer;
    color: #000;
}

.back-to-top:hover {
    opacity: 1;
}

#search-zone {
  overflow: hidden;
}



.scroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
  height: 500px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
